<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat #{{ID}} - {{USERNAME}}</title>
</head>

<body>

    <label>Members of this chat:</label>
    <ul>
        {% for member in MEMBERS %}
        <li><span style="font-weight:bold">{{member[1]}}</span> ({{member[2]}})</li>
        {%endfor%}
    </ul>
    <hr><br>
    <ul>
        {% for message in LOG %}
        {% if message[1] == USERNAME %}
        <li><span style="color:rgb(42, 219, 42);font-weight:bold">[{{message[2]}}]</span> {{message[3]}} </li>
        {% else %}
        <li><span style="color:darkmagenta; font-weight:bold">[{{message[2]}}]</span> {{message[3]}} </li>
        {% endif %}
        {% endfor %}
    </ul>
    <br>
    <form method="POST" action="/chat_host">
        <input type="hidden" name="chatID" value="{{ID}}">
        <div class="form-group">{{chatform.newMessage}}</div><br>
        <div class="form-group">{{chatform.send}}</div><br>
    </form>
    <hr><br>
    <form method='POST' action='/'>
        <div class="form-group">
            {{homeButton.home}}<br><br>
        </div>
    </form>
</body>

</html>