<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connections - {{USERNAME}}</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h2>Find Friends</h2>

    <h4>Friend recommentations for <span style="color:rgb(154, 74, 230); font-weight:bold">{{USERNAME}}</span>, based on
        the number of common genres:</h4>
    <br>

    <label style="font-weight:bold">Users with 1 common genre:</label>

    <table style="width:40%; border:1px solid black;">
        {% for user in RECOMMENDATIONS[0] %}
        {% if user != USERNAME %}
        <tr>
            <th style="color:red">{{user[0]}}</th>
            <th>
                <form method="POST" action="/friend">
                    <input type="hidden" value="{{ user[0] }}" name="my_uname" id="uname">
                    <input type="submit" value="View Profile" name="friend" id="profile">
                </form>
            </th>
        </tr>
        {%endif%}
        {%endfor%}
    </table>

    <br>
    <label style="font-weight:bold">Users with 2 common genres:</label>
    <table style="width:40%; border:1px solid black;">
        {% for user in RECOMMENDATIONS[1] %}
        {% if user != USERNAME %}
        <tr>
            <th style="color:orange">{{user[0]}}</th>
            <th>
                <form method="POST" action="/friend">
                    <input type="hidden" value="{{ user[0] }}" name="my_uname" id="uname">
                    <input type="submit" value="View Profile" name="friend" id="profile">
                </form>
            </th>
        </tr>
        {%endif%}
        {%endfor%}
    </table>

    <br>
    <label style="font-weight:bold">Users with 3 common genres:</label>
    <table style="width:40%; border:1px solid black;">
        {% for user in RECOMMENDATIONS[2] %}
        {% if user != USERNAME %}
        <tr>
            <th style="color:green">{{user[0]}}</th>
            <th>
                <form method="POST" action="/friend">
                    <input type="hidden" value="{{ user[0] }}" name="my_uname" id="uname">
                    <input type="submit" value="View Profile" name="friend" id="profile">
                </form>
            </th>
        </tr>
        {%endif%}
        {%endfor%}
    </table>
    <br>
    <label style="font-weight:bold">Users with 4 common genres:</label>
    <table style="width:40%; border:1px solid black;">
        {% for user in RECOMMENDATIONS[3] %}
        {% if user != USERNAME %}
        <tr>
            <th style="color:rgba(12, 158, 171, 0.876)">{{user[0]}}</th>
            <th>
                <form method="POST" action="/friend">
                    <input type="hidden" value="{{ user[0] }}" name="my_uname" id="uname">
                    <input type="submit" value="View Profile" name="friend" id="profile">
                </form>
            </th>
        </tr>
        {%endif%}
        {%endfor%}
    </table>

    <br>
    <label style="font-weight:bold">Users with 5 common genres or more:</label>

    <table style="width:40%; border:1px solid black;">
        {% for user in RECOMMENDATIONS[4] %}
        {% if user != USERNAME %}
        <tr>
            <th style="color:rgb(125, 4, 155)">{{user[0]}}</th>
            <th>
                <form method="POST" action="/friend">
                    <input type="hidden" value="{{ user[0] }}" name="my_uname" id="uname">
                    <input type="submit" value="View Profile" name="friend" id="profile">
                </form>
            </th>
        </tr>
        {%endif%}
        {%endfor%}
    </table>
    <br>
    <form method='POST' action='/'>
        <div class="form-group">
            {{homeButton.home}}<br><br>
        </div>
    </form>
</body>

</html>