<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connections - {{USERNAME}}</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h2>Friend Suggestions</h2>

    <h4>Friend Suggestions for <span style="color:rgb(154, 74, 230); font-weight:bold">{{USERNAME}}</span>, based on
        the number of common genres:</h4>
    <br>

    <label style="font-weight:bold">Users with 1 common genre:</label>

    <table style="width:40%; border:1px solid black;">
        {% for user in RECOMMENDATIONS[0] %}
        {% if user != USERNAME %}
        <tr>
            {%for g in GENERAL_INFO_DB %}
            {% if g[10] == user[0] %}
            <th>{{g[1]}} {{g[2]}}</th>
            <th style="color:red">{{user[0]}}</th>
            <th>Age: {{g[7]}}</th>
            <th>Gender:
                {%if g[12] == 'Male' %}
                <span style="color:rgb(50, 0, 252)">Male</span>
                {%elif g[12] == 'Female' %}
                <span style="color:rgb(230, 105, 126)">Female</span>
                {%elif g[12] == 'Unspecified' %}
                <span style="color:blueviolet">Unspecified Gender</span>
                {%endif%}
            </th>
            <th>
                {{g[13]}}
            </th>
            <th>Location: {{g[8]}}</th>
            <th>
                <form method="POST" action="/friend">
                    <input type="hidden" value="{{ user[0] }}" name="my_uname" id="uname">
                    <input type="submit" value="View Profile" name="friend" id="profile">
                </form>
            </th>
            {% for u in usernames %}
            {%if u[0] == user[0]%}
            {% if u[1] == True %}
            <th><span style="color:rgb(0, 255, 13)">FRIENDS</span></th>
            {% elif u[2] == True %}
            <th><span style="color:rgb(0, 200, 255)">Friend request sent</span></th>
            {% elif u[3] == True %}
            <th><span style="color:darkorange">Friend request received</span></th>
            {%else%}
        </tr>
        {%endif%}
        {%endif%}
        {%endfor%}


        {%endif%}
        {%endfor%}
        </tr>
        {%endif%}
        {%endfor%}
    </table>

    <br>
    <label style="font-weight:bold">Users with 2 common genres:</label>
    <table style="width:40%; border:1px solid black;">
        {% for user in RECOMMENDATIONS[1] %}
        {% if user != USERNAME %}
        <tr>
            {%for g in GENERAL_INFO_DB %}
            {% if g[10] == user[0] %}
            <th>{{g[1]}} {{g[2]}}</th>
            <th style="color:red">{{user[0]}}</th>
            <th>Age: {{g[7]}}</th>
            <th>Gender:
                {%if g[12] == 'Male' %}
                <span style="color:rgb(50, 0, 252)">Male</span>
                {%elif g[12] == 'Female' %}
                <span style="color:rgb(230, 105, 126)">Female</span>
                {%elif g[12] == 'Unspecified' %}
                <span style="color:blueviolet">Unspecified Gender</span>
                {%endif%}
            </th>
            <th>
                <span style="color:gray">{{g[13]}}</span>
            </th>
            <th>Location: {{g[8]}}</th>
            <th>
                <form method="POST" action="/friend">
                    <input type="hidden" value="{{ user[0] }}" name="my_uname" id="uname">
                    <input type="submit" value="View Profile" name="friend" id="profile">
                </form>
            </th>
            {% for u in usernames %}
            {%if u[0] == user[0]%}
            {% if u[1] == True %}
            <th><span style="color:rgb(0, 255, 13)">FRIENDS</span></th>
            {% elif u[2] == True %}
            <th><span style="color:rgb(0, 200, 255)">Friend request sent</span></th>
            {% elif u[3] == True %}
            <th><span style="color:darkorange">Friend request received</span></th>
            {%else%}
        </tr>
        {%endif%}
        {%endif%}
        {%endfor%}
        {%endif%}
        {%endfor%}
        </tr>
        {%endif%}
        {%endfor%}
    </table>

    <br>
    <label style="font-weight:bold">Users with 3 common genres:</label>
    <table style="width:40%; border:1px solid black;">
        {% for user in RECOMMENDATIONS[2] %}
        {% if user != USERNAME %}
        <tr>
            {%for g in GENERAL_INFO_DB %}
            {% if g[10] == user[0] %}
            <th>{{g[1]}} {{g[2]}}</th>
            <th style="color:red">{{user[0]}}</th>
            <th>Age: {{g[7]}}</th>
            <th>Gender:
                {%if g[12] == 'Male' %}
                <span style="color:rgb(50, 0, 252)">Male</span>
                {%elif g[12] == 'Female' %}
                <span style="color:rgb(230, 105, 126)">Female</span>
                {%elif g[12] == 'Unspecified' %}
                <span style="color:blueviolet">Unspecified Gender</span>
                {%endif%}
            </th>
            <th>
                <span style="color:gray">{{g[13]}}</span>
            </th>
            <th>Location: {{g[8]}}</th>
            <th>
                <form method="POST" action="/friend">
                    <input type="hidden" value="{{ user[0] }}" name="my_uname" id="uname">
                    <input type="submit" value="View Profile" name="friend" id="profile">
                </form>
            </th>
            {% for u in usernames %}
            {%if u[0] == user[0]%}
            {% if u[1] == True %}
            <th><span style="color:rgb(0, 255, 13)">FRIENDS</span></th>
            {% elif u[2] == True %}
            <th><span style="color:rgb(0, 200, 255)">Friend request sent</span></th>
            {% elif u[3] == True %}
            <th><span style="color:darkorange">Friend request received</span></th>
            {%else%}
        </tr>
        {%endif%}
        {%endif%}
        {%endfor%}
        {%endif%}
        {%endfor%}
        </tr>
        {%endif%}
        {%endfor%}
    </table>
    <br>
    <label style="font-weight:bold">Users with 4 common genres:</label>
    <table style="width:40%; border:1px solid black;">
        {% for user in RECOMMENDATIONS[3] %}
        {% if user != USERNAME %}
        <tr>
            {%for g in GENERAL_INFO_DB %}
            {% if g[10] == user[0] %}
            <th>{{g[1]}} {{g[2]}}</th>
            <th style="color:red">{{user[0]}}</th>
            <th>Age: {{g[7]}}</th>
            <th>Gender:
                {%if g[12] == 'Male' %}
                <span style="color:rgb(50, 0, 252)">Male</span>
                {%elif g[12] == 'Female' %}
                <span style="color:rgb(230, 105, 126)">Female</span>
                {%elif g[12] == 'Unspecified' %}
                <span style="color:blueviolet">Unspecified Gender</span>
                {%endif%}
            </th>
            <th>
                <span style="color:gray">{{g[13]}}</span>
            </th>
            <th>Location: {{g[8]}}</th>
            <th>
                <form method="POST" action="/friend">
                    <input type="hidden" value="{{ user[0] }}" name="my_uname" id="uname">
                    <input type="submit" value="View Profile" name="friend" id="profile">
                </form>
            </th>
            {% for u in usernames %}
            {%if u[0] == user[0]%}
            {% if u[1] == True %}
            <th><span style="color:rgb(0, 255, 13)">FRIENDS</span></th>
            {% elif u[2] == True %}
            <th><span style="color:rgb(0, 200, 255)">Friend request sent</span></th>
            {% elif u[3] == True %}
            <th><span style="color:darkorange">Friend request received</span></th>
            {%else%}
        </tr>
        {%endif%}
        {%endif%}
        {%endfor%}
        {%endif%}
        {%endfor%}
        </tr>
        {%endif%}
        {%endfor%}
    </table>

    <br>
    <label style="font-weight:bold">Users with 5 common genres or more:</label>

    <table style="width:40%; border:1px solid black;">
        {% for user in RECOMMENDATIONS[4] %}
        {% if user != USERNAME %}
        <tr>
            {%for g in GENERAL_INFO_DB %}
            {% if g[10] == user[0] %}
            <th>{{g[1]}} {{g[2]}}</th>
            <th style="color:red">{{user[0]}}</th>
            <th>Age: {{g[7]}}</th>
            <th>Gender:
                {%if g[12] == 'Male' %}
                <span style="color:rgb(50, 0, 252)">Male</span>
                {%elif g[12] == 'Female' %}
                <span style="color:rgb(230, 105, 126)">Female</span>
                {%elif g[12] == 'Unspecified' %}
                <span style="color:blueviolet">Unspecified Gender</span>
                {%endif%}
            </th>
            <th>
                <span style="color:gray">{{g[13]}}</span>
            </th>
            <th>Location: {{g[8]}}</th>
            <th>
                <form method="POST" action="/friend">
                    <input type="hidden" value="{{ user[0] }}" name="my_uname" id="uname">
                    <input type="submit" value="View Profile" name="friend" id="profile">
                </form>
            </th>
            {% for u in usernames %}
            {%if u[0] == user[0]%}
            {% if u[1] == True %}
            <th><span style="color:rgb(0, 255, 13)">FRIENDS</span></th>
            {% elif u[2] == True %}
            <th><span style="color:rgb(0, 200, 255)">Friend request sent</span></th>
            {% elif u[3] == True %}
            <th><span style="color:darkorange">Friend request received</span></th>
            {%else%}
        </tr>
        {%endif%}
        {%endif%}
        {%endfor%}
        {%endif%}
        {%endfor%}
        </tr>
        {%endif%}
        {%endfor%}
    </table>
    <br>
    <form method='POST' action='/connections'>
        <div class="form-group">
            <input type="submit" value="Refresh Suggestions">
        </div>
    </form><br>
    <form method='POST' action='/'>
        <div class="form-group">
            {{homeButton.home}}
        </div>
    </form>
</body>

</html>