<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Chat - {{USERNAME}}</title>
</head>

<body>
    <span style="font-weight:bold">{{USERNAME}}</span> is starting a new chat...
    <hr><br>

    <form method='POST' action='/chat_host_new_chat'>
        <div class="form-group">
            <label>Select at least one friend to start a conversation with:</label><br><br>
            {% for yf in YOUR_FRIENDS %}
            <input type="checkbox" value="{{yf[2]}}" name="invitee"> {{yf[1]}}<br>
            {% endfor %}
        </div><br><br>
        <label>Write a message...</label>
        <div class="form-group">
            {{newChatForm.newMessage}}
        </div>
        <br><br>
        <div class="form-group">
            {{newChatForm.send}}<br><br>
        </div>
    </form>
    <form method='POST' action='/my_messages'>
        <div class="form-group">
            {{newChatForm.cancel}}<br><br>
        </div>
    </form>

    <hr><br>
</body>

</html>