<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chromatic - Forgot Password</title>
</head>

<body>

    <form method='POST' action='/reset_password'>

        <legend>FORGOT PASSWORD</legend>
        <div class="form-group">

            {{form.identity.label(class='form-control-label')}}<br>
            {{form.identity}}<br><br>

            {{form.new_password.label(class='form-control-label')}}<br>
            {{form.new_password}}<br><br>

            {{form.confirm}}<br><br>
        </div>
    </form>
    <form method='POST' action='/login'>
        <div class="form-group">
            <input type="submit" value="Return to Login Page"><br><br>
        </div>
    </form>
</body>

</html>