<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - {{USERNAME}}</title>
</head>

<body>
    HOME PAGE<br><br>
    Hello, {{USERNAME}} !<br><br>current number of users == {{userCount}}<br><br><br>

    <form action='/manage_genres'>
        <div class="form-group">
            {{form2.genreManage}}<br><br>
        </div>
    </form>
    <br>
    <form method='POST' action='/connections'>
        <div class="form-group">
            {{form2.connections}}<br><br>
        </div>
    </form><br>
    <form method='POST' action='/find_friends'>
        <div class="form-group">
            {{form2.findFriends}}<br><br>
        </div>
    </form><br>
    <form method='POST' action='/my_friends'>
        <div class="form-group">
            {{form2.myFriends}}<br><br>
        </div>
    </form><br>
    <form method='POST' action='/my_messages'>
        <div class="form-group">
            {{form2.myMessages}}<br><br>
        </div>
    </form><br>
    <form method='POST' action='/settings'>
        <div class="form-group">
            <input type="submit" value="Settings"><br><br>
        </div>
    </form><br>
    <form method='POST' action='/logout'>
        <div class="form-group">
            {{form2.logout}}<br><br>
        </div>
    </form>

</body>

</html>