<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chromatic - Login</title>
</head>

<body>
    LOGIN PAGE
    <form method='POST' action='/login'>

        <legend>Log In</legend>
        <div class="form-group">

            {{form.username.label(class='form-control-label')}}<br>
            {{form.username}}<br><br>

            {{form.password.label(class='form-control-label')}}<br>
            {{form.password}}<br><br>

            {{form.login}}<br><br>


        </div>
    </form>
    <form method='POST' action='/register'>
        <div class="form-group">
            {{form2.register}}<br><br>
        </div>
    </form>
</body>

</html>