<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Friends - {{USERNAME}}</title>
</head>

<body>
    Friends of <span style="color:rgb(247, 132, 0); font-weight:bold">{{USERNAME}}</span>
    <br><br>
    <hr>
    <ul>
        {% for user in range(MY_FRIENDS|length) %}
        {%if user != 0 %}
        <li><span style="color: red; font-weight:bold">{{MY_FRIENDS[user]}}</span></li>
        {%endif%}
        {% endfor %}

    </ul><br>
    <hr>
    <br>
    <form method='POST' action='/'>
        <div class="form-group">
            {{homeButton.home}}<br><br>
        </div>
    </form>
</body>

</html>