<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Messages - {{USERNAME}}</title>
</head>

<body>
    {{USERNAME}}'s Chats
    <hr>
    <br>
    <form method='POST' action='/new_chat_creation'>
        <div class="form-group">
            {{msgForm.startNewChat}}<br><br>
        </div>
    </form>
    <hr><br>
    Chats that you are part of:
    <br>
    {%for chatID in CHAT_IDS%}
    <form method="POST" action="/prev_chat_host">
        <input type="submit" name="chat" value="Chat #{{chatID}}">
    </form>
    {%endfor%}


    <hr><br>
    <form method='POST' action='/'>
        <div class="form-group">
            {{msgForm.home}}<br><br>
        </div>
    </form>
</body>

</html>