<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chromatic - Register</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <div class="container w-50">
        <form method="POST" action="/createuser">
            {{form.hidden_tag()}}
            <fieldset>
                <legend>Sign Up Today!</legend>
                <div class="form-group">

                    {{form.firstName.label(class='form-control-label')}}<br>
                    {{form.firstName}}<br><br>

                    {{form.lastName.label(class='form-control-label')}}<br>
                    {{form.lastName}}<br><br>

                    {{form.email.label(class='form-control-label')}}<br>
                    {{form.email}}<br><br>


                    {{form.dateOfBirth.label(class='form-control-label')}}<br>
                    <input type="date" id="birth_day" name="birth_day"><br><br>

                    <label>Gender:</label>
                    <input type="radio" name="gender" id="male" value="Male"> Male
                    <input type="radio" name="gender" id="female" value="Female"> Female
                    <input type="radio" name="gender" id="unsp" value="Unspecified"> I prefer not to specify
                    <br><br>

                    {{form.location.label(class='form-control-label')}}<br>
                    {{form.location}}<br><br>

                    {{form.favoriteGenres.label(class='form-control-label')}}<br>

                    <table>
                        {%for i in range(GENRES|length) %}
                        {%if i%6 == 0 %}
                        <tr>
                            {%endif%}
                            <td><input type="checkbox" value="{{GENRES[i]}}" name="genre">{{GENRES[i]}}</td>
                            {%if (i+1)%6 == 0 %}
                        </tr>
                        {%endif%}
                        {%endfor%}
                    </table>

                    <br><br>

                    {{form.username.label(class='form-control-label')}}<br>
                    {{form.username}}<br><br>

                    {{form.password.label(class='form-control-label')}}<br>
                    {{form.password}}<br><br>

                    {{form.confirm_pwd.label(class='form-control-label')}}<br>
                    {{form.confirm_pwd}}<br><br>

                    {{form.submit}}
                </div>
            </fieldset>
        </form>
        <br><br>
        <form action='/login'>
            <div class="form-group">
                {{form2.login}}<br><br>
            </div>
        </form>

    </div>
</body>

</html>